@page
@model RecruitCatmorepp.Pages.Companies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Companies</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobPosition" class="control-label"></label>
                <input asp-for="Company.JobPosition" class="form-control" />
                <span asp-validation-for="Company.JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MinSalary" class="control-label"></label>
                <input asp-for="Company.MinSalary" class="form-control" />
                <span asp-validation-for="Company.MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.MaxSalary" class="control-label"></label>
                <input asp-for="Company.MaxSalary" class="form-control" />
                <span asp-validation-for="Company.MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.StartDate" class="control-label"></label>
                <input asp-for="Company.StartDate" class="form-control" />
                <span asp-validation-for="Company.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobLocation" class="control-label"></label>
                <input asp-for="Company.JobLocation" class="form-control" />
                <span asp-validation-for="Company.JobLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryId" class="control-label"></label>
                <select asp-for="Company.IndustryId" class ="form-control" asp-items="ViewBag.IndustryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyAddress" class="control-label"></label>
                <input asp-for="Company.CompanyAddress" class="form-control" />
                <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.AnnualRevenue" class="control-label"></label>
                <input asp-for="Company.AnnualRevenue" class="form-control" />
                <span asp-validation-for="Company.AnnualRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
