@page
@model RecruitCatmorepp.Pages.AboutUsModel
@{
}
<div>
    <h1 class="display-4">Our Team</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col alert-dark">
            <h4>
                Over the years, popular culture has painted a picture of mice as clever little rodents who get their kicks tricking housecats and gorging on bright yellow cheese. In addition, cartoons have given the impression that mice are always scaring people or lounging in tiny recliners behind their little mouse hole doors in your wall.

                Cats are natural hunters, so there’s no doubt that most house cats will absolutely catch mice if they find them. However, adopting a cat to control mice is not a good idea for several reasons.

                For starters, many people think that mice will be deterred by the sheer fact that a cat is present. If this were the case, you’d never hear of cats catching mice. Finally, if you see one mouse in your home, there’s a solid chance that there are many more hiding nearby. Your cat isn’t going to be able to control this number of mice, regardless of how good a hunter it is.
            </h4>
            <h3 style="color:blue">
                This is because of us. We have figured out a way to bell the cat. More and more Cats are becoming member of our family who tie a belt on other cats thus letting the mice communities know that Hunter Cat is coming their way.
            </h3>

        </div>
        <div class="col">
            <div class="row alert-info"></div>
            <h4>
                Core Member 1 : Mr. Prafull More <br />
                Good at finding Talent. Have numerous years of experience of matching the skills with company requirements.
            </h4><br />
            <h4>
                Core Member 2 : Mr. Mice More <br />
                Good at finding Talent. Have numerous years of experience of matching the skills with company requirements.
            </h4><br />
            <h4>
                Core Member 3 : Mr. More Mice <br />
                Good at finding Talent. Have numerous years of experience of matching the skills with company requirements.
            </h4>
        </div>
    </div>
</div>

