@page
@model MyWebApplication2.Pages.DiceRollModel
@{

    int randomNumber = new Random().Next(1, 7); //GENERATES NUMBER BETWEEN 1 and 6

    int winningNumber = 6;

    int diffFactor = Math.Abs(randomNumber - winningNumber);

}

<h2>You rolled : @randomNumber</h2>

@if (randomNumber == winningNumber)
{
    <h1 class="bg-success">You Win</h1>
}
else
{
    <h2 class="bg-warning">You lose</h2>
    <h2>You are off by @diffFactor</h2>

}
<h4>Winning number is  :  @winningNumber</h4>
